* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.noteForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

h2 {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
}

input,
textarea,
select {
  padding: 10px 10px;
  margin: 10px 0;
}

.textAreaLabel {
  width: 100%;
}

.noteTitleContainer {
  margin-right: 20px;
}

textarea {
  width: 100%;
}

label {
  margin-right: 5px;
}

.noteContainer {
  display: flex;
  flex-wrap: wrap;
}

.note {
  padding: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  height: auto;
  word-break: break-all;
}

p {
  width: 100%;
}
